@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

/* <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
 */

:root {
  font-family: "Lato", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: white;
  border: none;
  outline: none;
}

@theme {
  --color-primary: #ffffff;
  --color-primary1: #363738;
  --color-secondary: #f5f5f5;
  --color-secondary1: #fefaf1;
  --color-bg: #ffffff;
  --color-text: #fafafa;
  --color-text1: #7d8184;
  --color-text2: #000000;
  --color-button: #000000;
  --color-secondary-2: #db4444;
  --color-button1: #00ff66;
  --color-button2: #db4444;
  --color-hover-button: #e07575;
  --color-hover-button: #a0bce0;
  --30percent-1px: #000000;
}
